<nav class="flex-column sidebar-nav">
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
            <span class="bi bi-house-door" aria-hidden="true"></span> Početna
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="/addposiljka">
            <span class="bi bi-box-seam" aria-hidden="true"></span> Dodaj novu pošiljku
        </NavLink>
    </div>
</nav>
